$font-stack: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$lineHeight: 1.15;
$fonts: (
  regular: 400,
  medium: 500,
  bold: 700,
);

$blue: #022c6d;
$white: #ffffff;
$bg: #eaeaea;
$darkGray: #494949;
$lightGray: #7b7b7b;
$purple: #433393;
$active: #75fa6a;
$pending: #f19837;
$border: #c5c8cd;

$boxShadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
