$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$iconXasis-tiktok: "\e900";
$iconXasis-instagram: "\e901";
$iconXasis-facebook-messenger: "\e902";
$iconXasis-facebook-f: "\e903";
$iconXasis-facebook: "\e904";
$iconXasis-video: "\e905";
$iconXasis-users: "\e906";
$iconXasis-user-circle: "\e907";
$iconXasis-upload: "\e908";
$iconXasis-trash-alt: "\e909";
$iconXasis-times: "\e90a";
$iconXasis-search: "\e90b";
$iconXasis-question-circle: "\e90c";
$iconXasis-power-off: "\e90d";
$iconXasis-plus: "\e90e";
$iconXasis-paper-plane: "\e90f";
$iconXasis-map-marked-alt: "\e910";
$iconXasis-list: "\e911";
$iconXasis-images: "\e912";
$iconXasis-image: "\e913";
$iconXasis-home: "\e914";
$iconXasis-folder: "\e915";
$iconXasis-folders: "\e916";
$iconXasis-filter: "\e917";
$iconXasis-edit: "\e918";
$iconXasis-download: "\e919";
$iconXasis-cloud-upload: "\e91a";
$iconXasis-clock: "\e91b";
$iconXasis-chevron-down: "\e91c";
$iconXasis-chevron-left: "\e91d";
$iconXasis-chevron-right: "\e91e";
$iconXasis-chevron-up: "\e91f";
$iconXasis-chart-pie-alt: "\e920";
$iconXasis-chart-pie: "\e921";
$iconXasis-bell: "\e922";
$iconXasis-calendar-alt: "\e923";
$iconXasis-calendar: "\e924";
$iconXasis-border-none: "\e925";

