@import '../../assets/scss/variables';
@import '../../assets/icomoon/variables.scss';
@import '../../assets/scss/mixin';

%buttonChecked {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.componentSwitch {
  .label {
    @include text(14, layout-grey-90);
    @include flex(center, center);
    position: relative;
    &_left {
      padding: 0 0.5rem 0 0;
    }
    &_right {
      padding: 0 0 0 0.5rem;
    }

    &:active {
      .label_button {
        &::before {
          width: 24px;
        }
      }
    }
    &_switch[type='checkbox'] {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .label_button {
        @include box(darwined-blue-10, 10px);
      }
      &:checked + .label_button:before {
        @extend %buttonChecked;
      }
      &:disabled + .label_button {
        background: map-get($colors, layout-grey-10);
        pointer-events: none;
      }
      &:disabled + .label_button::before {
        background: map-get($colors, layout-grey-10);
        border: 1px solid map-get($colors, layout-grey-30);
        height: 14px;
        width: 14px;
        box-shadow: none;
      }
      &:checked:disabled + .label_button {
        background: map-get($colors, layout-grey-30);
        pointer-events: none;
      }
      &:checked:disabled + .label_button::before {
        @extend %buttonChecked;
        border: none;
        height: 16px;
        width: 16px;
      }
    }
    &_button {
      @include box(layout-grey-20, 10px);
      width: 40px;
      height: 20px;
      position: relative;
      cursor: pointer;
      &::before {
        @include box(foris-white, 50%);
        box-shadow: 0 0 10px 0 rgba(map-get($colors, layout-grey-90), 0.2);
        position: absolute;
        content: '';
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        top: 2px;
        transition: all 0.35s ease-in;
      }
    }
  }
}
