@import '../../../assets/scss/variables';

.campaignsNewPage {
  &_title {
    font-size: 1.375rem;
    color: $blue;
    padding: 0 0 0.75rem;
  }
  .filtersNewCampaigns {
    margin: 0 0 1.5rem;
    background: $white;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    box-shadow: $boxShadow;
    display: flex;
    flex-wrap: wrap;
    gap: 0.875rem;
    &_field {
      width: 150px;
      .labelDatePicker {
        font-size: 0.75rem;
        font-weight: map-get($fonts, medium);
        color: $darkGray;
        margin: 0 0 0.375rem;
        display: block;
      }
    }
  }
  .rulesConfig {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.25rem;
    width: fit-content;
    border: 1px solid lighten($lightGray, 30%);
    background: $white;
    box-shadow: $boxShadow;
    width: 100%;
    margin: 0 0 1.25rem;
    &:last-child {
      margin: 0;
    }
    &_title {
      text-transform: uppercase;
      background: $purple;
      color: $white;
      font-size: 1rem;
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
    .cntCardsRules {
      padding: 0.5rem 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: fit-content;
      .cardRule {
        width: 200px;
        min-height: 150px;
        height: 100%;
        background: $white;
        border-radius: 0.25rem;
        padding: 0.5rem;
        box-shadow: $boxShadow;
        gap: 1rem;
        &_title {
          color: $blue;
          font-size: 0.875rem;
          padding: 0 0 0.5rem;
        }
        &_detail {
          color: lighten($lightGray, 20%);
          font-size: 0.625rem;
        }
        &.cardRule__center {
          text-align: center;
          padding: 2rem 0 0;
          .cardRule_icon {
            color: $darkGray;
            font-size: 1rem;
          }
          .cardRule_text {
            color: $darkGray;
            font-size: 1rem;
            width: 100%;
            font-weight: map-get($fonts, medium);
            padding: 0.75rem 0 0;
          }
        }

        .listSwitchRules {
          margin: 0.5rem 0 0;
          &_item {
            margin: 0 0 0.75rem;
            &:last-child {
              margin: 0;
            }
            .swicthRule {
              display: flex;
              flex-direction: row-reverse;
              justify-content: flex-end;
              .labelsIcons {
                display: flex;
                gap: 0.5rem;
                color: $darkGray;
                margin: 0 0 0 0.5rem;
              }
            }
          }
        }
      }
    }
  }
  .footerNewCampaign {
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
  }
}

.modalCampaigns {
  padding: 2rem 1.25rem;
  width: 700px;
  height: 100%;
  max-height: 550px;
  overflow-y: hidden;
  .modal_header {
    padding: 0 !important;
  }
  .headerModalCampaigns {
    display: flex;
    justify-content: space-between;
    padding: 0 0 1rem;
    border-bottom: 1px solid lighten($lightGray, 20%);
    .headerModalCampaignsTitle {
      &_detail {
        margin: 0;
        padding: 0 0 0.25rem;
        color: $blue;
        text-transform: uppercase;
        font-size: 0.75rem;
      }
      &_context {
        text-transform: uppercase;
        margin: 0;
        color: $blue;
      }
    }
    &_btn {
      width: 24px;
      height: 24px;
      min-width: 24px;
      border-radius: 50%;
      padding: 0.25rem;
    }
  }
  .modalCampaignsContent {
    display: flex;
    overflow-y: scroll;
    max-height: 350px;
    flex-wrap: wrap;
    padding: 1rem 0 0;
    &_text {
      width: 100%;
      color: $lightGray;
      font-size: 0.75rem;
    }
    .searchOptions {
      width: 100%;
      display: flex;
      padding: 1rem 0;
      gap: 1rem;
      &_field {
        flex-grow: 1;
        // margin: 0 1rem 0 0;
      }
    }
    .rulesSection {
      width: 100%;
      .accordion {
        border: 1px solid lighten($lightGray, 20%);
        border-radius: 0.25rem;
        background: lighten($lightGray, 40%);
        margin: 0 0 1.25rem;
        transition: 0.35s all ease-in;
        &_title {
          color: $blue;
          position: relative;
          background: $white;
          padding: 0.5rem 1rem;
          border-radius: calc(0.25rem - 1px);
          list-style: none;
          &::marker,
          &::-webkit-details-marker {
            display: none;
          }
          &::after {
            font-family: 'icomoon';
            color: $blue;
            position: absolute;
            content: '\e91f';
            right: 1rem;
            font-size: 0.875rem;
          }
        }
        &[open] {
          border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
          .accordion_title {
            &::after {
              content: '\e91c';
            }
          }
        }
      }
    }
  }
}
